
#include "private/binn_p.h"

/*************************************************************************************/
binn_t binn_@FUNCTION_NAME@(const @ARG_TYPE@ value) {
    return binn_new(@BINN_TYPE@, &value, sizeof(@ARG_TYPE@));
}